<div class="container mt-4">
    <h2 class="text-center mb-4">Lista de Productos</h2>
  
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">

      <div class="form-group">
            <label for="id">id</label>
            <input type="number" id="id" formControlName="id" class="form-control" required>
      </div> 

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" formControlName="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="precio">Precio ($)</label>
        <input type="number" id="precio" formControlName="price" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary mt-2">
        {{ editando ? 'Actualizar Producto' : 'Agregar Producto' }}
      </button>
    </form>
  
    <table class="table table-hover table-bordered text-center mt-4">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio ($)</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>
            <button (click)="editProduct(product)" class="btn btn-warning btn-sm">Editar</button>
            <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
